<audio #myAudio src="assets/goofyy.mp3"></audio>
<div class="images" appInView (inView)="onElementInView($event)">
  <div class="text">
    <h2>La cristiandad en mi familia</h2>
    <h3>Occidente entró en forma de religión cristiana</h3>
  </div>

  <div>
    <img class="top-left" src="assets/image6.png" alt="">
    <img class="main-image" src="assets/image9.png" alt="">
    <img class="bottom-right" src="assets/image5.png" alt="">
  </div>
</div>

<linage-audio-controller *ngIf="showAudioController" [title]="title"></linage-audio-controller>
