.body {
  // margin-top: 3rem;
  color: white;
  background-color: black;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 5;
  opacity: 0.9;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
  }

  .media-player {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .bar {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto;

      .progress-bar-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 1rem;
        border: 1px solid white;
        background: black;
        cursor: pointer;
        height: 0.5rem;
        .progress-bar-filled {
          height: 1rem;
          border-radius: 1rem;
          border: 1px solid white;
          background: white;
          width: 0%;
        }
      }

      .timer {
        display: flex;
        flex-direction: row-reverse;
      }
    }

    .title {
      margin: 1rem auto;
    }
    .controls {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-evenly;
      div {
        display: flex;
        .play {
          scale: 1.5;
        }

        .action {
          scale: 1.5;
          margin: 0 0.5rem;
        }
      }
    }
  }
}

.closed-body {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  color: white;
  background-color: black;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  opacity: 0.9;
}
