<div class="body" *ngIf="!minimized;else smallDisplay">
  <div class="close" (click)="toggleMinimized()">
    <mat-icon>expand_more</mat-icon>
  </div>

  <div class="media-player" *ngIf="currentTrack">
    <div class="title">{{currentTrack().number}}: {{currentTrack().title}}</div>

    <div class="bar">
      <div class="progress-bar-container" (click)="seek($event)">
        <div class="progress-bar-filled" [style.width]="getProgress() + '%'"></div>
      </div>

      <div class="timer">
        {{ formatTime(currentTime) }} / {{ formatTime(duration) }}
      </div>
    </div>

    <div class="controls">
      <div (click)="changeTrack(index - 1)">
        <mat-icon class=action>fast_rewind</mat-icon><span>{{previous}}</span>
      </div>

      <div>
        <mat-icon class="play" (click)="playAudio()" *ngIf="!audioPlaying">play_circle_outline</mat-icon>
        <mat-icon class="play" (click)="pauseAudio()" *ngIf="audioPlaying"> pause_circle_outline</mat-icon>
      </div>

      <div (click)="changeTrack(index + 1)">
        <span>{{next}}</span><mat-icon class=action>fast_forward</mat-icon>
      </div>
    </div>
  </div>
</div>

<ng-template #smallDisplay>

  <div class="closed-body">
    <div class="open" (click)="toggleMinimized()">
      <mat-icon>expand_less</mat-icon>
    </div>

    <div class="closed-media-player" *ngIf="currentTrack">
      <div class="title">{{currentTrack().title}}</div>
    </div>

    <div>
      <mat-icon class="closed-play" (click)="playAudio()" *ngIf="!audioPlaying">play_circle_outline</mat-icon>
      <mat-icon class="closed-play" (click)="pauseAudio()" *ngIf="audioPlaying"> pause_circle_outline</mat-icon>
    </div>
  </div>

</ng-template>


<audio *ngIf="currentTrack" #audioPlayer [src]="currentTrack()?.url" (timeupdate)="updateProgress()"
  (loadedmetadata)="metadataLoaded()" (ended)="onAudioEnded()"></audio>
