.body {
  background-color: #2d2d2d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main {
    background: url("../../../../assets/ch6background.png");
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image in the element */
    background-size: cover;
  }
}
