<div>
  <linaje-locale-controller></linaje-locale-controller>

  <linaje-intro-page></linaje-intro-page>

  <linaje-message-page appInView (inView)="onElementInView($event)"
    (onTrackChange)="setCurrentTrackIndex($event)"></linaje-message-page>

  <linaje-chapter1-page appInView (inView)="onElementInView($event)"
    (onTrackChange)="setCurrentTrackIndex($event)"></linaje-chapter1-page>

  <linaje-chapter2-page appInView (inView)="onElementInView($event)"
    (onTrackChange)="setCurrentTrackIndex($event)"></linaje-chapter2-page>

  <linaje-chapter3-page appInView (inView)="onElementInView($event)"
    (onTrackChange)="setCurrentTrackIndex($event)"></linaje-chapter3-page>

  <linaje-chapter4-page appInView (inView)="onElementInView($event)"
    (onTrackChange)="setCurrentTrackIndex($event)"></linaje-chapter4-page>

  <linaje-chapter5-page appInView (inView)="onElementInView($event)"
    (onTrackChange)="setCurrentTrackIndex($event)"></linaje-chapter5-page>

  <linaje-chapter6-page appInView (inView)="onElementInView($event)"
    (onTrackChange)="setCurrentTrackIndex($event)"></linaje-chapter6-page>

  <linaje-audio-controller *ngIf="showAudioController" [index]="currentTrackIndex"></linaje-audio-controller>
</div>
