<div class="body">
  <div class="media-player">
    <div class="title">Title: {{currentTrack.title}}</div>
    <div class="progress-bar"></div>
    <div class="timestamp"></div>
    <div class="controls">
      <div>
        <mat-icon class=action>fast_rewind</mat-icon><span>Anterior</span>
      </div>

      <div>
        <mat-icon class="play">play_circle_outline</mat-icon>
      </div>

      <div>
        <span>Siguiente</span><mat-icon class=action>fast_forward</mat-icon>
      </div>
    </div>
    <audio [src]="currentTrack.url"></audio>
  </div>
</div>
