.body {
  margin-top: 3rem;
  color: white;
  background-color: black;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  .media-player {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .title {
      margin: 1rem auto;
    }
    .controls {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-evenly;
      div {
        display: flex;
        .play {
          scale: 1.5;
        }

        .action {
          scale: 1.5;
          margin: 0 0.5rem;
        }
      }
    }
  }
}

.bar {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.progress-bar input[type="range"] {
  width: 100%;
  background: transparent;
}

.timer {
  display: flex;
  flex-direction: row-reverse;
}
