.number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  hr {
    width: 100px;
    margin: 1rem;
  }

  h3 {
    font-weight: lighter;
    font-size: 1.4rem;
    margin: 0;
  }
}

.title {
  margin: 1rem 2rem;
  h3 {
    font-size: 1.8rem;
    margin: 0 auto;
    font-weight: lighter;
    text-align: center;
    padding: 1rem;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
  }
}
