<div>
  <div class="container">
    <mat-icon class="icon">error</mat-icon>
    <p>La investigación para esta pieza fue en su mayoría oral. Para respetar la tradición la voy a transmitir de forma
      oral
      también. Esta web funciona como una exposición, mi voz te acompañará durante el recorrido digital, y es solo
      visitable
      en tu móvil.</p>

    <p>Te recomiendo ponerte unos cascos y relajarte para disfrutar de la historia.</p>
  </div>

  <div class="audio-title" (click)="handleEmit()">
    <h3>Audio 00 Intro</h3>
  </div>
</div>
