<linage-intro-page></linage-intro-page>

<linage-message-page appInView (inView)="onElementInView($event)"
  (onTrackChange)="setCurrentTrackIndex($event)"></linage-message-page>

<linage-chapter1-page appInView (inView)="onElementInView($event)"
  (onTrackChange)="setCurrentTrackIndex($event)"></linage-chapter1-page>

<linage-chapter2-page appInView (inView)="onElementInView($event)"
  (onTrackChange)="setCurrentTrackIndex($event)"></linage-chapter2-page>

<linage-temp-page></linage-temp-page>

<linage-audio-controller *ngIf="showAudioController" [index]="currentTrackIndex"></linage-audio-controller>
