div {
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  color: white;
  .text {
    margin-bottom: 1rem;
    h2 {
      font-family: "YoungSerif";
      font-size: 3rem;
      font-weight: bold;
      margin: 1rem;
    }

    h3 {
      margin: 1rem;
    }
  }

  .audio-title {
    margin: 2rem;
    margin-top: 1rem;
    h3 {
      font-weight: lighter;
      font-size: 1.3rem;
      text-align: center;
      padding: 1rem;
      background-color: white;
      color: black;
      border-radius: 0.5rem;
    }
  }
}
