div {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem auto;
  .text {
  }

  .images {
    .main-image {
    }

    .top-left {
    }

    .bottom-right {
    }
  }

  .audio-title {
    margin: 1rem;
    h3 {
      padding: 1rem;
      background-color: black;
      color: white;
      border-radius: 0.5rem;
    }
  }
}
